body {
    margin: 0;
    box-sizing: border-box;
    background-color:rgb(202, 236, 236);
}

.main-container {
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    margin-bottom: 2rem;
}

.table {
    margin: 0;
    border-spacing: 0;
}

.data-table {
    width: 100%;
    box-shadow: 1px 5px 10px rgba(5, 5, 5, 0.7);
}

table td, table th {
    text-align: center;
    vertical-align: middle;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-rec-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.btn {
    text-transform: none;
}


.new-rec-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: none;
}

.new-rec-btn-icon {
    margin-right: 2px;
    margin-bottom: 2px;
}


.opt-field {
    display: flex;
    justify-content: space-evenly;
}