body {
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    margin-bottom: 2rem;
}

.data-table {
    width: 100%;
}

table td, table th {
    text-align: center;
    vertical-align: middle;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-rec-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 2rem;
    
}

.opt-field {
    display: flex;
    justify-content: space-evenly;
}